.container{
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}

.image1{
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: image1 1s infinite ease-in-out alternate ;
}

@keyframes image1 {
    to{
        transform: translateY(-10px);
    }
}

.brands-name{
    >svg{
        color: antiquewhite;
        font-size: 3rem;
        transition: color 0.5s;
    }
}
.brands-name>svg:hover{
    color: rgb(235,201,74);
}

.container2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 video{
    width: 60%;
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
    filter: drop-shadow(20px 40px 10px rgba(0,0,0,0.3));
}

@media screen and (max-width : 600px) {

    .container{
        height: unset;
    }

    .container2{
        height: unset;
        padding: 4vh 0;
    }
    .container2 video {
        width: 100%;
        border-radius: 0;
        filter: drop-shadow(2px 4px 10px rgba(0,0,0,0.3));
    }
}  

.course{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 1rem;
    transition: all 0.5s;
    box-shadow: 0px 2px 20px black;
    border-radius: 15px;
}

.course:hover{
    transform: translateY(-10px);
}